@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center
  }

  .flex-between {
    @apply flex justify-between items-center
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
/* ==== clerk class override ===== */
.cl-signIn-start,
.cl-signUp-start {
  padding: 86px 39px 60px 39px;
  gap: 30px;
}

.cl-logoBox {
  height: 40px;
  justify-content: center;
}

.cl-headerTitle,
.cl-headerSubtitle {
  align-self: center;
}

.cl-headerTitle { 
  font-size: 18px;
}

.cl-headerSubtitle { 
  font-size: 13px;
}

.cl-socialButtonsProviderIcon{
  width: 16px;
  height: 16px;
}

.cl-socialButtonsIconButton {
border: none;
}

.cl-socialButtonsIconButton:focus {
  box-shadow: none;
}

.cl-socialButtonsIconButton__github {
  filter: invert(1);
}

.cl-socialButtonsIconButton__github:hover {
  background-color: inherit;
}

.cl-dividerLine {
  background: #252a41;
}

 .cl-formFieldLabel{
  font-size: 13px;
 }

 .cl-formFieldInput {
  font-size: 13px;
 }

.cl-formFieldInput:focus,
.cl-footerActionLink:focus,
.cl-socialButtonsIconButton__github:focus {
  box-shadow:none;
}

.cl-formButtonPrimary:hover {
  background-color: #4396F2;
}

.cl-footerActionLink:hover {
  color: #4396F2;
}

.absolute.right-4.top-4 {
color: white;
}

.cl-userButtonPopoverActionButtonIcon,
.cl-internal-wkkub3 {
  color: inherit;
}

/* ===================== */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}